h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Noto Sans TC', sans-serif;
}

.btn{
    background-color: deepskyblue;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}

img{
    max-width: 100%;
}

header nav img{
    width: 40px;
    height: 40px;
}

header li{
    margin: 0 18px;
}
