h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

p,
a,
input,
label,
textarea,
span,
ul,
li {
    font-family: 'Noto Sans TC', sans-serif;
}


/*大標題藍色按鈕*/

.btn {
    background-color: deepskyblue;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}


/*大標題*/

img {
    max-width: 100%;
}


/*導覽列*/

nav img {
    width: 40px;
    height: 40px;
}

li {
    margin: 0 18px;
}


/*大標題*/

#intro .jumbotron {
    height: 80%;
}

#intro h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.5;
}

#intro .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*搜尋列*/


/*.search {
    background-color: lightgray;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    margin: 0 0 50px 0;
}

.search-button {
    color: deepskyblue;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: none;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 500px;
}*/


/*店家們*/

#list p {
    margin: 10px 0 20px 0;
}

#list h3 {
    margin-top: 60px;
    margin-bottom: 60px;
}

#list img {
    width: 100%;
    box-shadow: gray 8px 8px 5px;
}

#list p {
    margin-top: 20px;
    margin-bottom: 60px;
}

#searchform {
    width: fit-content;
    border-radius: 30px;
    background-color: transparent;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#forminput {
    margin-left: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    height: 40px;
    width: 500px;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border-style: none;
    outline: none;
}

#searchbtn {
    background-color: transparent;
    outline: none;
}

#gotop {
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    background-image: url("top.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
}

#gotop:hover {
    background-image: url("top2.png");
}

.checked {
    color: orange;
}